<div class="card-top container-fluid">
    <div class="row justify-content-center h-75">
        <div class="item col-1 text-center">
            <a>
                <img src="../../../assets/All Products.png" class="img-fluid h-75" alt="All Products">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item col-1 ms-4 text-center">
            <a>
                <img src="../../../assets/Electronics.png" class="img-fluid h-75" alt="Electronics">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item col-1 ms-4 text-center">
            <a>
                <img src="../../../assets/Sports.png" class="img-fluid h-75" alt="Sports">
                <h6>Sports</h6>
            </a>
        </div>
        <div class="item col-1 text-center">
            <a>
                <img src="../../../assets/Mens Wear.png" class="img-fluid h-75" alt="Mens Wear">
                <h6>Mens Wear</h6>
            </a>
        </div>
    </div>
</div>