.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}

.item a:hover{
    color: dodgerblue;
}

.prdImg{
    width: 60%;
    height: 50%;
    transition:  0.3s ease-in-out;
}
.prdImg:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

#PrdDesc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
}

.pointer:hover{
    cursor: pointer;
}

.card{
    padding: 10px;
    margin: 20px;
}