<!-- Cart Empty -->
<ng-container *ngIf="products.length==0">
  <div class="container">
    <div class="card">
      <h5 class="card-title"> My Cart </h5>
    </div>
    <div class="center">
      <img src="../../../assets/Empty Cart.png" alt="Empty Cart" class="img-fluid" style="width: 55%;height: 50%;">
      <!-- <h4>Your Cart us EMPTY!</h4> -->
      <h6>Add Item to it now</h6>
      <button routerLink="/Products" class="btn btn-outline-danger">Shop Now</button>
    </div>
  </div>
</ng-container>

<!-- Cart Full -->
<ng-container *ngIf="products.length!=0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.NO</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
            <!--→→→→ MOOOOOOOOOOOOOOOOO2MEEEEEEEEEEEEEEEEEEN  -->
          </thead>
          <tbody>
            <tr *ngFor="let prd of products;let i = index">
              <td>{{i+1}}</td>
              <td>{{prd.title}}</td>
              <td><img [src]="prd.image" [alt]="prd.title" style="width: 10rem;"></td>
              <td style="width:25%">{{prd.description}}</td>
              <td style="width:12%">{{prd.price}}</td>
              <td style="width:12%">{{prd.quantity}}</td>
              <td style="width:12%">{{prd.total}}</td>
              <td>
                <button (click)="removePrd(prd)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td><button (click)="emptyCart()" class="btn btn-outline-danger">Empty Cart</button></td>
              <td><button routerLink="/Products" class="btn btn-warning">Shop More</button></td>
              <td><button class="btn btn-success">Check Out</button></td>
              <td><strong>Total Cart: {{grandTotal}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
